<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li><a th:text="Information"></a></li>
</ul>
<span> </span>
<img src="/images/greenfox.png" alt="greenfox">
<br>
<span th:text="'This is '"></span>
<span th:switch="${name}">
    <span th:case="null">Mr. Fox.</span>
    <span th:case="*" th:text="${name}+'.'"></span>
<span th:text="'Currently living on ' + ${food}+ ' and '+${drink}+'.'"></span>
</span>


<h1 th:text="'Known tricks'"></h1>
<span th:switch="${tricks}">
    <p th:case="null">You know no tricks yet. Go and learn some.</p>
<ul th:case="*" th:each="trick: ${tricks}">

    <li><a th:text="${tricks}"></a></li>
</ul>



</body>
</html>